

<div class="relative overflow-x-auto overflow-y-scroll h-2/5 shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>

              <th scope="col" class="px-6 py-3">
                  Name
              </th>
              <th scope="col" class="px-6 py-3">
                  Phone Number
              </th>
              <th scope="col" class="px-6 py-3">
              </th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of phoneNumberListItems; index as i" [ngClass]="{'hidden' : item.isDeleted || !item.canShow }"  class="border-b dark:border-gray-700">
              <th *ngIf="!item.isEdited" scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  {{item.name}}
              </th>
              <td *ngIf="!item.isEdited" class="px-6 py-4">
                  {{item.phoneNumber}}
              </td>
              <td *ngIf="!item.isEdited" class="flex items-center px-6 py-4 gap-4">
                <button class="text-lg text-blue-300 hover:text-blue-500" tool type="button" (click)="editItem(i)">
                  <i class="fas fa-pencil"></i>
                </button>
                <button class="text-lg text-red-300 hover:text-red-500" tool type="button" (click)="deleteItem(i)">
                  <i class="fas fa-trash"></i>
                </button>
              </td>
              <th *ngIf="item.isEdited" scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <input [(ngModel)]="phoneNumberListItems[i].name" [ngClass]="empty && !phoneNumberListItems[i].name ?'border-red-300':'border-gray-300'" type="text" id="phone-number" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm
                rounded-lg focus:ring-blue-500 block w-full p-2.5 dark:bg-gray-700
                dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 "
                placeholder="phone number" required name="phone-number" />
                <div *ngIf="empty && !phoneNumberListItems[i].name" class="text-red-300 text-sm">please enter phone number</div>

              </th>
              <td *ngIf="item.isEdited" class="px-6 py-4">
                <input [(ngModel)]="phoneNumberListItems[i].phoneNumber" [ngClass]="empty && !phoneNumberListItems[i].phoneNumber || duplicated && phoneNumberListItems[i].phoneNumber ?'border-red-300':'border-gray-300'" type="text" id="phone-number" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm
                rounded-lg focus:ring-blue-500 block w-full p-2.5 dark:bg-gray-700
                dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500"
                placeholder="phone number" required name="phone-number" />
                 <div *ngIf="empty && !phoneNumberListItems[i].phoneNumber" class="text-red-300 text-sm">please enter phone number</div>
                 <div *ngIf="duplicated && phoneNumberListItems[i].phoneNumber" class="text-red-300 text-sm">The Phone number is duplicated!</div>

              </td>
              <td *ngIf="item.isEdited" class="flex items-center px-6 py-4">
                <button class="text-lg text-green-300 hover:text-green-500" tool type="button" (click)="saveEditedItem(item , i)">
                  <i class="fas fa-save"></i>
                </button>
              </td>
          </tr>
      </tbody>
  </table>
</div>

